# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
dl_env/

# Jupyter
.ipynb_checkpoints/

# W&B logs
wandb/

# Ignore all files in data folder
data/*

# But keep the vocabulary file
!data/vocabs.pkl

# Local checkpoints
checkpoints/

# OS files
.DS_Store
Thumbs.db

# Test files
test_1.py
test_2.py
